{% from 'common/header.html' import header %} {% from 'common/head.html' import
head %}

<head>
  {{ head(title=title) }}
</head>

<body>
  {{ header() }}
  <div class="flex h-screen content-center">
    <div
      class="container m-auto px-5 py-6 text-center bg-white border border-gray-500 rounded lg:w-3/4 xl:w-5/12"
    >
      <h1 class="uppercase font-bold mt-3 text-xl md:text-3xl">
        This page doesn't exist.
      </h1>
      <p>
        <a
          class="underline text-blue-300 hover:text-blue-600"
          href="{{ url_for('index') }}"
          >Click Here</a
        >
        to go to the Home Page
      </p>
    </div>
  </div>
</body>
