{% from 'common/header.html' import header %}
{% from 'common/head.html' import head %}

<html>
  <head>
    {{ head(title=title) }}

    <link rel="stylesheet" href="/static/style.css" type="text/css" />
  </head>
  <body>

    {{ header() }}
    <h1>{{ title }}</h1>

    {% for section in sections %}
        <hr>
        <h2>{{ section }}</h2>
        {% for idx, question in questions[questions['section'] == section].iterrows() %}

        <div>{{ question.questions}}</div>

        {% endfor %}
    {% endfor %}

    {% include 'common/footer.html' %}

  </body>
</html>
