{% from 'common/header.html' import header %} 
{% from 'common/head.html' import head %}
{% from 'ai/components/list-items.html' import item %}

<html>
  <head>
    {{ head(title=title) }}
  </head>
  <body>
    {{ header() }}

    <div class="container m-auto">
      <h1 class="my-6 text-3xl uppercase w-full m-auto">{{ title }}</h1>

      <div>
        <ul>
            {{ item(id='define-ai', title='1. Define the AI') }}
            {{ item(id='data-collect', title='2. Data collection') }}
            {{ item(id='data-quality', title='3. Data quality') }}
            {{ item(id='eda', title='4. Exploratory data analysis') }}
            {{ item(id='data-preparation', title='5. Data preparation') }}
            {{ item(id='model-creation', title='6. Model creation') }}
            {{ item(id='model-tuning', title='7. Model testing') }}
            {{ item(id='model-deployment', title='8. Model deployment') }}
            {{ item(id='monitoring', title='9. Monitoring') }}
        </ul>
      </div>
    </div>

    {% include 'common/footer.html' %}
  </body>
</html>
