{% from 'ai/components/list-items-nav.html' import item_nav %}

<div>
    <ul>
        <div class="flex">
        {{ item_nav(id='user-needs', title='Start AI') }}
        {{ item_nav(id='data-collect', title='Collect') }}
        {{ item_nav(id='data-quality', title='Quality') }}
        {{ item_nav(id='eda', title='EDA') }}
        {{ item_nav(id='data-preparation', title='Preparation') }}
        {{ item_nav(id='model-creation', title='Model creation') }}
        {{ item_nav(id='model-tuning', title='Testing') }}
        {{ item_nav(id='model-deployment', title='Deploy') }}
        {{ item_nav(id='monitoring', title='Monitoring') }}
        </div>
    </ul>
</div>