{% macro item_nav(id, title) -%}
{% if id in request.path %}
<li class="flex-1 text-center border border-solid border-gray-600  text-white bg-gray-600 ">
    <a href="/ai/{{id}}">
        <div class="inline-block m-auto my-2">
          <div class="flex items-center h-auto ">
          <img src="/static/img/{{id}}.svg" class="h-8 mx-4 filter-invert" />
          <span>{{title}}</span>
        </div>
      </div>
    </a>
  </li>
{% else %}
<li class="flex-1 text-center border-solid border-gray-600 border-0 border-b">
  <a href="/ai/{{id}}">
      <div class="inline-block m-auto my-2">
        <div class="flex items-center h-auto ">
        <img src="/static/img/{{id}}.svg" class="h-8 mx-4" />
        <span>{{title}}</span>
      </div>
    </div>
  </a>
</li>
{% endif %}
{%- endmacro %}
